/* Font Declarations*/
@font-face {
  font-family: 'Noto Mono';
  src: url("/fonts/NotoMono-Regular.ttf");
}

@font-face {
  font-family: 'Noto Sans UI';
  src: url("/fonts/NotoSansUI-Regular.ttf")
}


/* Nav menu */
ul.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 330px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.92;
  background-color: #b8b8b8;
}
ul.topnav li {float: right; white-space: nowrap; vertical-align: middle;}
ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  transition: 0.5s;
  font-family: 'Noto Mono', Verdana, sans-serif;;
  font-size: 18px;
}
ul.topnav li a:hover {background-color: #808080; opacity: 1;}
ul.topnav li.menubtn {display: none;}
/* .active {background-color: #96cefd} */
#nameAndLogo {
  float: left;
}
#nameAndLogo a img {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
#nameAndLogo a:hover{
    background-color: #833333;
}
@media screen and (max-width:960px) {/*1200*/
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.menubtn {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:960px) {
  ul.topnav.responsive li.menubtn {
    position: absolute;
    width: initial;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: left;
    padding: 0;
    width: 100%;
    display: table-row;
  }
  ul.topnav.responsive li a {
    display: block;
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 680px){
  ul.topnav {position: relative;}
}


/* Content */
div.content {
  padding-top: 60px;
  background-color: white;
  width: 960px;
}
div.content section {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
div.content p {
  color: #808080;
  font-size: 16px;
  font-family: 'Noto Mono', Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  white-space: normal;
}
div.content h1 {
  color: #000000;
  font-size: 36px;
  font-family: 'Noto Sans UI', Arial, sans-serif;
  text-decoration: none;
  text-align: center;
}
div.content h2 {
  color: #96cefd;
  font-size: 22px;
  font-family: 'Noto Sans UI', Arial, sans-serif;
  text-decoration: none;
  text-align: center;
}
div.content a {
  color: #808080;
  font-size: 16px;
  font-family: 'Noto Mono', Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  white-space: normal;
}
.list {
    width: 960px
}
div.content li {
  display: block;
  color: #808080;
  font-size: 16px;
  font-family: 'Noto Mono', Verdana, sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin-left: auto;
  text-align: left;
}
.listele {
  display: inline-block;
  color: #833333;
  font-size: 20px;
  font-family: 'Noto Sans UI', Arial, sans-serif;
  list-style-type: none;
  text-decoration: solid;
  margin-left: auto;
  text-align: left;
}
@media screen and (max-width: 680px){
  div.content {padding-top: 0px;}
}


/* Footer */
footer {
  background-color: #b8b8b8;
  opacity: 0.95;
  color: white;
  text-decoration: none;
  font-family: 'Noto Sans UI', Arial, sans-serif;
  font-size: 16px;
}
footer ul {
  display: block;
  list-style-type: none;
  text-align: left;
}
footer ul li a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
  font-size: inherit;
}
footer p {
  color: #808080;
  text-decoration: inherit;
  font-family: inherit;
  font-size: 12px;
}
footer p a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
  font-size: inherit;
}