/********************************** TOP BAR ***********************************/
.fixed {
  position: fixed;
}
#top {
  top: 0px;
  background: white;
  margin-bottom: auto;
  width: 100%;
  height: auto;
  display: block;
}
#Title {
  color: #708090;
  line-height: 0.8px;
  font-size: 42px;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  white-space: nowrap;
  display: block;
}
.Links {
  text-align: right;
}
.Links a {
  font-size: 16px;
  font-family: Arial;
  color: black;
  text-decoration: none;
  padding-right: 10px;
}
.button {
  text-align: centre;
  text-decoration: none;
  display: inline-block;
}
/******************************************************************************/




/******************************** TEXT EFFECTS ********************************/
.hover-changecolor {
  transition: all 0.3s;
}
.hover-changecolor:hover {
  background: grey;
}
.hover-changecolor a:hover {
  color: white;
}

.hover-grow {
  transition: 0.1s;
}
.hover-grow:hover {
  transform: scale(1,2);
}
/******************************************************************************/




/********************************** NAV MENU **********************************/
.nav-menu {
  background-color: lightgrey;
}
.nav-link {
  display: inline-block; /*display horizontally */
}
.nav-link a {
  color: #000000;
  font-family: 'Verdana', sans-serif;
  text-decoration: none;
  margin-right: 16px;
}
ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  min-width: 400px;
}
/******************************************************************************/



/********************************** SECTIONS **********************************/
section {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
p {
  color: #000000;
  font-size: 16px;
  line-height: auto;
  text-align: center;
}
.headers {
  color: #999999;
  font-size: 32px;
  font-family: Arial;
  line-height: 0.8px;
  text-align: center;
  white-space: nowrap;
}

#AboutMe {
}

#WorkExperience {
  text-align: center;
}

