<!doctype html>
<html lang="en-US">
{% include head.html %}
<body>
  <div>
    <ul class="topnav" id="myTopnav">
      <li id="nameAndLogo">
        <a href="./index.html">
         <img alt="Icon" height="32" width="32" src="./images/myIcon_64.png" />
         Tyler Gamvrelis
        </a>
      </li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#work">Work Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#about">About Me</a></li>
      <li class="menubtn">
        <a href="javascript:void(0);" class="menubtn" onclick="resize()">&#9776;</a>
      </li>
    </ul>
  </div>
  <div class="container" align="center">
    {{ content }}
  </div>
  {% include footer.html %}
</body>
</html>